* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: Vazir;
  }
  
  @font-face {
	font-family: Vazir;
	src: url(../fonts/Vazirmatn-Regular.ttf);
  }

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-image: url(../images/regbg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#sec {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(75px);
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#form {
    height: 300px;
    width: 300px;
}

#h1 {
	font-size: 2rem;
	color: #fff;
	text-align: center;
    margin: 20px;
    margin-bottom: 40px;
}

#div1 {
    color: #fff;
    font-size: 20px;
	text-align: justify;
	margin: 20px;
    margin-bottom: 40px;
}

button {
	width: 100%;
	height: 25px;
	border-radius: 40px;
	background-color: rgb(255, 255, 255, 1);
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 600;
	transition: all 0.5s ease;
    margin-top: 20px;
}

button:hover {
	background-color: rgb(255, 255, 255, 0.5);
}